@model List<Testimonial>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form action="Testimonial/Create" method="get">
                    <p>
                        <button class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</button>
                    </p>
                </form>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Rəy</th>
                            <th>Şəkil</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td class="partial-text">
                                    @if (item.Feedback.Length > 50)
                                    {

                                        <span class="visible-text">@Html.Raw(item.Feedback.Substring(0, 50))</span>
                                        <span class="hidden-text" style="display: none;">@Html.Raw(item.Feedback)</span>
                                    }
                                    else
                                    {
                                        <span class="visible-text">@(item.Feedback)</span>
                                    }
                                </td>
                                <td><img src="@item.PhotoUrl" style="width:100px; height:100px" alt="Food Image" /></td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a> |
                                    <a item-value="@item.Id" item-title="@item.FirstName" class="btnDelete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".btnDelete").click(function (e) {
            Swal.fire({
                title: 'Əminsən?',
                text: "Geri döndərə bilməyəcəksiz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli '
            }).then((result) => {
                if (result.isConfirmed) {
                    let itemId = e.currentTarget.attributes[0].value;
                    let itemTitle = e.currentTarget.attributes[1].value;
                    $.ajax({
                        method: "POST",
                        url: "testimonial/delete/",
                        data: {
                            id: itemId
                        }
                    })
                    Swal.fire({
                        title: 'Silindi!',
                        text: "'" + itemTitle + "' silindi",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "testimonial"
                    })

                }
            })
        })
    </script>
}


