@model ClassViewModel
<!-- Page Header End -->
<div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
        <h1 class="display-2 text-white animated slideInDown mb-4">Siniflər</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Ana səhifə</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Siniflər</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Classes Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Siniflər</h1>
            <p>Bağçamızın sinifləri, hər bir uşağın fərdi inkişafına və maraqlarına uyğun olaraq tərtib edilmişdir. </p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model.SchoolClasses)
            {

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="@item.PhotoUrl" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            <a class="d-block text-center h3 mt-3 mb-4" href="">@item.Name</a>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="~/assets/img/teachers.png" alt="" style="width: 45px; height: 45px;">
                                    @foreach (var teacher in Model.ClassTeachers)
                                    {
                                        @if (item.Id == teacher.SchoolClassId)
                                        {

                                            <div class="ms-3">
                                                <h6 class="text-primary mb-1">@teacher.TeacherName</h6>
                                                @foreach (var teacherPosition in Model.Teachers)
                                                {
                                                    @if (teacher.TeacherId == teacherPosition.Id)
                                                    {

                                                        <small>@teacherPosition.PositionName</small>
                                                    }
                                                }
                                            </div>
                                        }

                                    }
                                </div>
                                <span class="bg-primary text-white rounded-pill py-2 px-3" href="">@item.Price ₼</span>
                            </div>
                            <div class="row g-1">
                                <div class="col-4">
                                    <div class="border-top border-3 border-primary pt-2">
                                        <h6 class="text-primary mb-1">Yaş:</h6>
                                        <small>@item.ChildAge Years</small>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="border-top border-3 border-success pt-2">
                                        <h6 class="text-success mb-1">Dərs saatı:</h6>
                                        <small>@item.Time</small>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="border-top border-3 border-warning pt-2">
                                        <h6 class="text-warning mb-1">Uşaq sayı:</h6>
                                        <small>@item.Capacity uşaq</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Classes End -->
<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Qeydiyyat</h1>
                        <p class="mb-4">
                            Bağçamıza xoş gəlmisiniz! Uşaqlarınızın xoşbəxt, təhlükəsiz və öyrədici bir mühitdə böyüməsi bizim üçün çox önəmlidir.
                            Bağçamızda uşaqlarınızın inkişafını dəstəkləmək və onların potensialını kəşf etmək üçün hər cür imkanlar mövcuddur.
                        </p>
                        <a class="btn btn-primary py-3 px-5" asp-action="Index" asp-controller="Appointment">İndi qeydiyyatdan keç<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="~/assets/img/appointment.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Rəylər</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model.Testimonials)
            {
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">@item.Feedback</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="@item.PhotoUrl" style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">@item.FirstName @item.LastName</h3>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->