@model SchoolClass
<style>
    .error-span {
        color: red;
        font-size: 18px;
        font-weight: 650;
        margin-left: 5px;
    }

    .iti {
        width: 100%;
    }

    .right-sidebar-item {
        overflow: hidden;
        height: 550px;
        padding-bottom: 20px;
    }


    .checkboxes {
        width: 100%;
        background: rgb(240, 240, 240);
        padding: 20px;
        overflow: scroll;
        max-height: 450px;
        overflow-x: hidden;
        border-radius: 20px;
    }

        .checkboxes::-webkit-scrollbar {
            display: none;
        }

    .search {
        width: 100%;
        border-radius: 3mm;
        padding: 10px;
        outline: none;
        border: 1px solid gray;
    }

    .select_label {
        display: block;
        padding: 10px 0;
    }

        .select_label h4 {
            display: inline-block;
            margin: 0;
        }

    input.checkbox {
        width: 20px;
        height: 20px;
    }

    .checkbox {
        margin-right: 10px;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Tarix</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label">Usaq sayi</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildAge" class="control-label">Usaq yasi</label>
                <input asp-for="ChildAge" class="form-control" />
                <span asp-validation-for="ChildAge" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <span style="margin-right:1rem;">Ana səhifədə olsun:</span>
                <input asp-for="IsHomePage" type="checkbox" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Qiymeti</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="min-height:300px;">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" src="@Model.PhotoUrl" />
                    </div>
                    <div class="card p-3 mt-3">
                        <input type="file" asp-for="PhotoUrl" name="PhotoUrl" />
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <div class="card-body card shadow right-sidebar-item">
                        <div class="form-group">
                            <label>Taglar:</label>
                            <div id="checkboxes2" class="checkboxes">
                                @*  <div class="control">
                                <input class="input search" type="text" placeholder="Search" id="search" />
                                <span class="icon is-small is-left">
                                <span class="searchIcon"></span>
                                </span>
                                </div> *@
                                @foreach (var teacher in ViewData["Teachers"] as IEnumerable<Teacher>)
                                {
                                    <label for="teacher" class="select_label">
                                        <input type="checkbox" class="checkbox" value="@teacher.Id" name="teacherIds" id="@teacher.Name" checked="@Model.Teachers" />@teacher.Name
                                        <span class="select_label-icon"></span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

